.sidebar {
  padding-top: 44px;
  padding-right: 44px;
  padding-left: 44px;

  //   display: flex;
  //   flex-direction: column;

  min-width: 360px;
  min-height: 100%;
  //   outline: 1px solid rgb(184, 182, 182);
}

.main-photo {
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 95px;

  display: block;
  width: 196px;
  height: 196px;
  //   TYPE 1
  background-image: url(../images/ihor-mokrov-no-bg.png),
    linear-gradient(to right, rgb(241, 241, 241) 100%, rgba(152, 157, 166, 1));
  // border: 2px solid rgb(49, 60, 78);
  border: 3px solid #449399;

  //   TYPE 2
  //   background-image: url(../images/ihor-mokrov-no-bg-black.png),
  //     linear-gradient(
  //       to right,
  //       rgba(47, 47, 49, 0.1) 99%,
  //       rgba(152, 157, 166, 0.3)
  //     );
  //    border: 2px solid rgb(193 196 202);

  background-size: contain;
  background-repeat: no-repeat;

  border-radius: 50%;
}

.skills-list {
  margin-top: 27px;
  margin-bottom: 67px;

  display: flex;
  flex-wrap: wrap;
}

.skills-item {
  margin-right: 10px;
  margin-bottom: 8px;
  padding: 6px 14px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $white;

  background-color: $skills-background;
  border-radius: 6px;
}

.languages-list {
  margin-top: 16px;
  margin-bottom: 38px;
}

.languages-item:not(:last-child) {
  margin-bottom: 15px;
}

.languages-lang {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.languages-possession {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
}
