body {
  padding-top: 10px;
  padding-bottom: 12px;

  // background-color: rgb(224, 221, 221);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;

  //   padding-bottom: 80px;

  display: flex;
  flex-direction: row-reverse;

  max-width: 1182px;

  overflow: hidden;

  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;

  background-color: #fff;

  // outline: 1px solid rgb(233, 229, 229);
  border: 2px solid rgb(196, 196, 196);
  // border: 2px solid #eeeff1;
}

.main-content {
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 80px;
  padding-left: 36px;

  background-image: url(../images/bg-bottom.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.section-title {
  display: flex;
  align-items: center;

  font-size: 28px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;
}

.section-title__image {
  margin-right: 14px;
  fill: rgb(49, 60, 78);
}

// Hero
.hero__name {
  font-size: 46px;
  font-weight: 400;
  line-height: 48px;
}

.hero__position {
  margin-top: 6px;

  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $text-green;
}

.hero__text {
  margin-top: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.contacts {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //   justify-content: space-between;

  margin-left: 34px;
  margin-right: 34px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.contacts__item {
  display: flex;
  align-items: center;

  margin-bottom: 8px;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.contacts__icon {
  margin-right: 8px;

  fill: $icons-green;
}
// Job

.section-title__job__container {
  margin-top: 30px;
}

.job__title {
  margin-bottom: 2px;

  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

.job__position {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.job__duration {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
  color: $text-green;
}

.job__skill-item {
  display: flex;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.job__skill-item::before {
  margin-right: 8px;
  content: '';
  min-width: 12px;
  min-height: 12px;
  width: 12px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/sub-mark.svg);
  background-position: center;
}

.pet-project a {
  color: $text-green;
  text-decoration: underline;
}

.section-title.education {
  margin-top: 40px;
}
